.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 20px;
  gap: 40px;
}

.InfoContainer {
  display: flex;
}

.InfoLayout {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Img {
  width: 250px;
  height: 360px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Title {
  display: inline-block;
  font-size: 25px;
  color: var(--text);
  font-weight: 700;
  padding: 2px 5px;
}

.Contents {
  display: inline-block;
  font-size: 13px;
  color: var(--gray-03);
  font-weight: 350;
  padding: 2px 5px;
}

.Instructions {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: 20px;
  border-radius: 10px;
}

.InstructionsText {
  font-size: 14px;
  color: var(--text);
  font-weight: 300;
  white-space: pre-wrap;
}
