@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.Container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 550px;
}

.Title {
  font-size: 45px;
  font-weight: 700;
  color: var(--text);
  margin-top: 70px;
  animation: slideDown 1s ease-out;
}

.Title span {
  font-size: 45px;
  font-weight: 700;
  color: var(--pink-07);
}

.SubTitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
  margin-top: 10px;
  animation: slideDown 1s ease-out;
}

.MovieCardBg {
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  background: linear-gradient(to bottom, #ea3564, var(--white-03));
}

.PosterContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 70px;
  width: 990px;
  height: 490px;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  width: 970px;
  height: 420px;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 9px 25px -6px;
  animation: slideUp 1s ease-out;
  z-index: 300;
}

.Card1 {
  margin-top: 30px;
}

.Card2 {
  top: 280px;
  left: 230px;
}

.Card3 {
  margin-top: 30px;
}
