.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.Title {
  margin-left: 25px;
  margin-bottom: 5px;
  color: var(--gray-08);
  font-weight: 300;
  font-size: 27px;
}

.Description {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  margin-left: 25px;

  color: var(--gray-08);
  font-weight: 300;
  font-size: 15px;
}

.Button {
  margin-left: 25px;
  margin-bottom: 70px;
}
