.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.Title {
  margin-left: 35px;
  margin-bottom: 5px;
  color: var(--gray-08);
  font-weight: 300;
  font-size: 24px;
}

.Description {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  margin-left: 35px;

  color: var(--gray-08);
  font-weight: 300;
  font-size: 15px;
}

.Button {
  margin-left: 35px;
  margin-bottom: 50px;
}
