.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 10px 20px;
  background-color: var(--white-03);
}

.Container h1 {
  display: flex;
  flex: 1;
  color: var(--pink-07);
}

.Menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Link {
  display: flex;
  font-size: medium;
  color: var(--text);
  text-decoration: none;
}

.View {
  font-weight: 700;
  color: var(--pink-07);
  text-decoration: none;
}
