* {
  padding: 0px;
  margin: 0px;
}

:root {
  --text: #151825;
  --gray-01: #838d9b;
  --gray-02: #778291;
  --gray-03: #5b6676;
  --gray-04: #515c6c;
  --gray-05: #353d4b;
  --gray-06: #262f3e;
  --gray-07: #181d24;
  --gray-08: #151825;
  --white-03: #f6f6f6;
  --pink-07: #ea3564;
}
